<%= form_for @event, remote: true, html:{ class: "form-horizontal"} do |f| %>


<ul class = "errors"> </ul>
<button class="close" data-dismiss="modal" aria-hidden = "true">&times;</button> 
<span class="help-block">
 <%= f.text_field :title, :class =>"form-control", :placeholder => "Event Title" %>
 <%= f.text_field :date, :class => 'form-control', :placeholder => "Insert date: year-month-day. Ex: 2014-04-20", :type => "date" %>
<input class="form-control" id="event_times" name="event[times]" placeholder="Insert start time and end time. Ex:10am 10pm" type="text">
 <%# had to do the non rails ^ version because if used the commented out it will automatically asign a value "" which replaces the placeholder <%= f.text_field :times, :class => "form-control", :placeholder => "Insert start time and end time Ex:10am 10pm" %>
 
</span>

<div class = "modal-body">
 <%= f.text_area :body, :class => "form-control", :rows => "3" %>
</div> 

<div class = "modal-footer">
 <%= submit_tag "Save", class: "form_submit" , :class => "btn btn-info", data:{ disable_with: 'Submitting...' }%>
</div>

<% end %>

