<% provide(:title, 'Events')%>

<%= tabs_tag :open_tabs => {:class => "nav nav-tabs" } do |tab| %>
  <%= tab.elist     'List', events_path, :class => "active" %>
  <%= tab.ecalendar 'Calendar', calendar_path %>
<% end %>




<div class = "page header">
<h1>Events</h1>
</div>
   	
		<%= render 'index' %>
<br>

<%= link_to "Add Event", new_event_path, remote: true %>
<div id = "event-modal" class = "modal fade"> 
<div class = "modal-dialog">
<div id = "inner-event" class = "modal-content">
</div>	
</div>	
</div>

