<header class="navbar navbar-inverse navbar-fixed-top" role ="navigation">
  	<div class="container">
		<div class="navbar-header">
		  <%= image_tag("l.png") %>
        </div>
     	<div class = "navbar-collapse collapse">
		<ul class = "nav navbar-nav">
			<li> <%= link_to "Home", root_path %> </li>

			<li> <%= link_to "Meet Our Members", members_path %> </li>

			<li> <%= link_to "Events", events_path %> <li>

			<li> <%= link_to "Contact Us", contact_path %></li>
		</ul>
     </div>
	</div>
</header>