<div class = "row">
	<div class = "col-xs-6 col-md-3">
		<div class = "thumbnail">	
			<%= image_tag("uncf.jpg", size:"155", :class => "img-responsive")%>
		 <!--	<%= image_tag("uncf.jpg", size: "155")%> -->
		
		</div>
	</div>
		
	<div class = "col-xs-6 col-md-3">
		<div class = "thumbnail">
			<%= image_tag("aigc.png", size: "162", :class => "img-responsive")%>
			<!--  size: "163" -->
		</div>
	</div>
	
	<div class = "col-xs-6 col-md-3">
		<div class = "thumbnail">
			<%= image_tag("hsf.jpg", size: "94x10", :class => "img-responsive")%>
			<!--  size: "94x10" -->
		</div>
	</div>
	
	<div class = "col-xs-6 col-md-3">
		<div class = "thumbnail">
		<%= image_tag("http://www.trademarkia.com/logo-images/asian--pacific-islander-american-scholarship-fund/apiasf-asian--pacific-islander-american-scholarship-fund-78715500.jpg", width:"125", :class => "img-responsive")%>	
		</div>
	</div>
	
</div>
