<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @member.body %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
